{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": ["last 2 versions", "ie >= 11"]
				},
				"corejs": "3",
				"useBuiltIns": "entry",
				"debug": true
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-transform-async-to-generator",
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-transform-runtime",
		[
			"babel-plugin-styled-components",
			{
				"ssr": false,
				"displayName": true,
				"preprocess": false
			}
		]
	],
	"env": {
		"development": {
			"plugins": [
				"react-hot-loader/babel"
			]
		}
	}
}
