@import '../../assets/css/variables.css';

.graphContainerInner {
	order: 4;

	&[data-col] {
		min-height: 316px;

		@media (--screen-lg) {
			min-height: 349px;
		}
	}

	& .graphInner {
		height: 230px;
		padding-bottom: 0;

		@media (--screen-lg) {
			height: initial;
		}

		& > div {
			& svg {
				height: 220px;

				@media (--screen-lg) {
					height: initial;
				}
			}
		}
	}

	& .graphPlaceholder {
		min-height: 200px;
		position: relative;

		@media (--screen-lg) {
			min-height: 250px;
		}
	}
}
